body{
    /* border-top: 8px solid #9E9E9E; */
    border-top: 8px solid #D2451E;
    padding-top: 2px;
    display: flex;
    align-items: center;
    height: 100vh;
    /* padding: 15px; */
    margin: 0;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: flex-start;
}
div#circle {
    width: 13px;
    height: 13px;
    border-radius: 100px;
    background: #28282A;
}
.caption {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    font-size: 12px;
    width: 98%;
}
.cp{
    display: flex;
    gap: 5px;
}
main{
    width: 100%;
}

::-webkit-scrollbar {
    background: #ffffff00;
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    /* box_shadow: 0 0 10px; */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    /* background: linear-gradient(125deg, #a10131, #ffcd00); */
    background: #b0b0b067;

     border-radius: 15px; 
  }

@media only screen and (min-width:768px) {


}
@media only screen and (min-width:1024px) {
  
    main{
        width: 40%;
    }
    .caption {
        width: 40%;
    }

}