---
import Layout from '../layouts/Layout.astro'
//components
import Header from "../components/Header.astro";
import Popular_shop from "../components/popular_shop.astro";
import Ultimate_shop from "../components/Ultimate_section.astro";
import Carpi_Primavera from "../components/Carpi_primavera.astro";
import Footer from "../components/Footer.astro";

import bgimage from '/portada.png'
---

<Layout title="Home">
	<main class="mx-auto container">

	<!-- header -->
	 <Header bgimage={bgimage}></Header> <!---->
	<!-- Popular shop -->
	<Popular_shop></Popular_shop>
	<!-- New collection -->
	<Ultimate_shop></Ultimate_shop>
	<!-- Carpi Primavera -->
	<Carpi_Primavera></Carpi_Primavera>
	<!-- About -->    
	</main>
	<!-- Footter -->
	<Footer></Footer>
</Layout>