---
import Popular_item from "../components/popular_item.astro";
import popular_shop_1 from '../popular/popular_shop_1.png'
import popular_shop_2 from '../popular/popular_shop_4.png'
import popular_shop_3 from '../popular/popular_shop_2.png'
import popular_shop_4 from '../popular/popular_shop_3.png'
---
<div class="popular_shop">
    <Popular_item title_popular="Regalos (o Caprichos) con amor" sub_popular="Mil maneras de decir TE QUIERO" img_popular={popular_shop_1} ></Popular_item>
    <Popular_item title_popular="TENDENCIAS Primavera" sub_popular="diseños unicos" img_popular={popular_shop_2} ></Popular_item>
    <Popular_item title_popular="New Collection" sub_popular="Carpi23" img_popular={popular_shop_3} ></Popular_item>
    <Popular_item title_popular="Sales" sub_popular="Ultimas rebajas" img_popular={popular_shop_4} ></Popular_item>

</div>
<style>
    .popular_shop{
        margin-top: 5px;
        gap: 10px;
        background: #0000ff38;
        max-width: 391px;
        display: flex;
        flex-wrap: nowrap;
        max-height: 250px;
        overflow-x: scroll;
        width: auto;
        -webkit-overflow-scrolling: touch;
    }
</style>