---
interface Props {
    title: string;
}
import "../styles/template.css"
const {title} = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Astro | {title}</title>
</head>
<body>
    <div class="caption">
        <div class="item_caption ">CARPI CARPI</div>
        <div class="item_caption ">Shop, Index, Studio</div>
        <div class="item_caption cp ">
            <span>CANONJA, CP 43480</span>
            <div id="circle"> </div>
            
        </div>
    </div>
    <main class="mx-auto container">
        <slot/>
    </main>
</body>
</html>