---
import Layout from '../../layouts/Layout.astro'
//components
import Portada_shop from "../../components/Portada_shop.astro";
import Items_shop from "../../components/Portada_shop.astro";

import Footer from "../../components/Footer.astro";

import bgimage from '/ultimos_lanzamientos/ultimo_lanzamiento.png'

---
 
<Layout title="Home">
	<main class="mx-auto container">
        <!-- header -->
        studio
	</main>
	<!-- Footter -->
	<Footer></Footer>
</Layout